@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  padding: 7px 0 0;
  border-top: 5px solid #e6994c;
  border-bottom: 1px solid #f4efe9;
}
.headerWrapper {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerNav {
}
.headerBurgerWrapper {
  display: none;
}
.logo {
  width: auto;
  max-height: 125px;
}
.logoImage {
  width: 40%;
}
.logoLink {
  width: auto;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navItemLink {
  text-decoration: none;
  color: #5a3b2c;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

.navItemLink:hover {
  border: 0.8px solid #3f2218;
}

.headerContact {
  display: flex;
  margin: 0 0 0 55px;
  align-items: center;
}

.socialIcons {
  display: flex;
  justify-content: right;
}
.socialIcons :nth-child(2) {
  margin: 0 8px;
}
.socialIcons img {
  width: 35px;
}
.langSelect {
  margin: 0 15px 0 0;
}

.langSelect img {
  width: 25px;
  cursor: pointer;
}

.callbackBtn {
  background: transparent;
  border: 1.5px solid #e6994c;
  padding: 5px 15px;
  color: #5a3b2c;
  font-weight: bold;
  cursor: pointer;
}

.callbackBtn:hover {
  background: #e6994c;
  color: white;
}

.welcome {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("./assets/welcomeBgImage.jpg") no-repeat center center/cover;
}

.welcomeWrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcomeContent {
  color: white;
  max-width: 600px;
}

.welcomeContentTitle {
  font-size: 3.5em;
  margin-bottom: 20px;
}

.welcomeContent p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.welcomeBtn {
  background: #d4a373;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  border-radius: 5px;
}

.welcomeBtn:hover {
  background: #c08457;
}

.offerWrapper {
  margin: 60px 20px 0 0;
  background-color: #fff;
}

.offerTitle {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

.offerDescription {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 1rem;
  color: #7d7d7d;
}

.cardsWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  overflow: hidden;
}
.cardBg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.card-content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.card p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 4px;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Styles for planks.html */
.productsContentWrapper {
  margin: 0 0 0 0;
}
/* products header block */
.productsTitleBlock {
  position: relative;
  height: 300px;
}
.productHeaderBg {
  width: 100%;
  height: 100%;
}
.productsTitleTextBlock {
  position: absolute;
  top: 40%;
  left: 20%;
  background-color: #f4efe9d6;
  padding: 10px 15px;
  border-radius: 5px;
}
.productsTitle {
  font-size: 26px;
  font-weight: 600;
}
.productsSubtitle {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 400;
}
.productsLists {
  padding: 25px 35px;
  align-items: center;
}
.productsLists li {
  margin: 0 0 0 25px;
  font-size: 18px;
}
.advantageItem {
  line-height: 1.8rem;
}
.productsListTitle {
  font-size: 20px;
  line-height: 1.8rem;
  margin: 5px 0 0 0;
}

/* products body block */

.productsCards {
  display: flex;
  flex-wrap: wrap;
}
.productsCard {
  background-color: #eae6daaa;
  border-radius: 7px;
  max-width: 350px;
  width: 100%;
  margin: 10px 10px;
  padding: 5px;
  height: 350px;
  position: relative;
  top: 0;
  left: 0;
}
.productsCardImages {
  width: 100%;
  height: 90%;
}

.productsCard img {
  border-radius: 7px;
  padding: 15px 15px;
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}
.productsHoverCard {
  opacity: 0;
}
.productsCard:hover .productsHoverCard {
  opacity: 1;
}
.productsCardImg:hover {
  opacity: 0;
  cursor: pointer;
}

.productsCardCaption {
  font-size: 18px;
  border-top: 1px solid #9090906f;
  padding: 7px 0 0 0;
  text-align: center;
  vertical-align: baseline;
}

/* End of styles for planks.html */
.aboutWrapper {
  margin: 80px 0;
  padding: 0 0 0 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.aboutSummary {
  display: flex;
  flex-direction: column;
}
.aboutBody {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.aboutBodyText {
  width: 40%;
}
.aboutBodyImage {
  width: 50%;
}
.aboutBodyImageImg {
  width: 100%;
  min-height: 300px;
  border-radius: 7px;
}
.aboutTitle {
  color: #5c4033;
  padding: 0 40px;
  margin: 0 0 35px 0;
  font-size: 2rem;
  border-bottom: 4px solid #3f2218;
}
.aboutSubtitle {
  font-size: 1.2rem;
  font-weight: 500;
}
.aboutBody ul {
  list-style-type: none;
}
.aboutFeatures {
  margin: 20px 0;
}
.featuresItem {
  margin: 10px 0;
}
.featuresItem:nth-child(1) {
  font-weight: 500;
  font-size: 20px;
}
.aboutCompanyFeatures {
  margin: 20px 0;
  list-style-type: none;
}
.contactUs {
  background-color: #fff;
  color: #522b1d;
  width: 100%;
  padding: 50px 80px;
}

.contactUsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.contactUsInfo {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 35px 0 0 0;
  max-width: 450px;
}
.infoPhone {
  text-decoration: none;
  color: inherit;
}
.infoAdress {
  margin: 0 0 5px;
}
.contactUsForm {
  width: 48%;
  max-width: 450px;
}
.iframeMap {
  width: 90%;
  border: 0;
}
.contactUsForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.formInput {
  width: 100%;
  min-height: 60px;
  padding: 8px 0 8px 8px;
  margin: 5px 0;
  border: 1px solid #3f2218;
}
.formSelector {
  margin: 5px 0;
  min-height: 60px;
  padding: 8px 0 8px 8px;
  border: 1px solid #522b1d;
}
.formTextarea {
  padding: 8px 0 8px 8px;
  width: 100%;
  border: 1px solid #522b1d;
  margin: 5px 0;
}
.formBtn {
  margin: 15px 0 0 0;
  font-size: 20px;
  background-color: #035325;
  width: 40%;
  color: #fff;
  border: none;
  height: 60px;
}

/* footer */

.footerWrapper {
  background: #fff;
  padding: 40px 100px 0;
  color: black;
  border-top: 0.5px solid gray;
  text-align: center;
}

.footerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLogo {
  max-width: 150px;
}

.footerCopyright {
  font-size: 14px;
  padding-right: 40px;
}

.footerNav {
  display: flex;
  gap: 40px;
}

.footerNavList {
  list-style: none;
  padding: 0;
}

.footerNavItem {
  margin-bottom: 10px;
}

.footerNavLink {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

.footerNavLink:hover {
  text-decoration: underline;
}

.footerContacts {
  flex: 1 1 200px;
}

.footerContactList {
  list-style: none;
  padding: 0;
}

.footerContactItem {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footerContactIcon {
  margin-right: 8px;
}

.footerSocial {
  flex: 1 1 200px;
}

.footerSocialTitle {
  font-size: 14px;
  margin-bottom: 10px;
}

.footerSocialIcons a {
  margin-right: 10px;
}
.footerSocialIcons img {
  width: 50px;
}

.contactContainer {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.contactInfo {
  width: 80%;
}
.contactTitle {
  font-size: 28px;
  margin: 10px 0 25px;
}
.contactDescription {
  font-size: 18px;
  font-weight: 300;
  width: 80%;
}
.contactDetails {
  display: flex;
  min-height: 120px;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px 0 0 15px;
}
.contactForm {
  color: #d94f20;
}
.contactFormSent {
  display: none;
  max-width: 350px;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}
.contactFormSentImg {
  margin: 0 0 25px 0;
  width: 200px;
}

.formInput {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  color: rgb(97, 41, 0);
  box-shadow: 1px 1px 1px darkgrey;
}
.formTextarea {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 100px;
  box-shadow: 1px 1px 1px darkgrey;
}
.formButton {
  padding: 12px;
  background-color: #035326ca;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 1px 1px 1px darkgrey;
}

.formButton:hover {
  background-color: #00b34d;
}

/* cookie banner */
.cookieBanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  font-size: 14px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
}

.cookieText a {
  color: #f15a29;
  text-decoration: underline;
}

.cookieButton {
  background-color: #f15a29;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 20px;
}

.cookieButton:hover {
  background-color: #d84e21;
}

/* slider styles */
.glide {
  padding: 15px;
}
.glide__track {
}
.glide__slides {
  margin: 15px 0 0 0;
  width: auto;
}
.glide__slide {
  border: 1px solid #5a3b2c;
  border-radius: 5px;
  max-width: 350px;
  padding: 5px;
  margin: 0 0 10px 0;
}
.glideSlideImg {
  width: 100%;
  height: 350px;
  border-radius: 7px;
}
.glide__arrows {
  display: flex;
  justify-content: space-around;
}
.glide__arrow {
  border: 0.3px solid black;
  width: 45px;
  height: 45px;
  font-size: 25px;
  border-radius: 7px;
  transition: all 0.15s ease-in-out;
}
.glide__arrow:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000000e0;
}

@media (max-width: 767px) {
  .headerNav {
    position: absolute;
    top: 7%;
    z-index: 1;
    color: #1a1a1a;
    background-color: #fff;
    left: 0;
    color: black;
    width: 100%;
    height: auto;
    padding: 20px 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    opacity: 0;
  }

  .headerNavActive {
    transition: all 1s ease;
    transform: translateY(0);

    position: absolute;
    top: 8%;
    z-index: 1;
    color: #1a1a1a;
    background-color: #fff;
    left: 0;
    color: black;
    width: 100%;
    height: auto;
    padding: 20px 0;
  }

  .navList {
    align-items: center;
    flex-direction: column;
    z-index: 2;
    color: #1a1a1a;
  }

  .headerBurgerWrapper {
    display: block;
  }
  .headerBurgerImg {
    width: 35px;
  }
  .contactUs {
    padding: 75px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contactUs h2 {
    margin: 0 0 0 33px;
  }
  .contactUsWrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .productsLists li {
  }
  .productsBody {
    align-items: center;
    justify-content: center;
  }
  .productsCards {
    justify-content: center;
  }
  .productsTitleTextBlock {
    left: 5%;
  }
  .productsCard:nth-child(2) {
    margin: 15px 0;
  }
  .productsCardImg {
    padding: 5px;
  }
  .productsCardCaption {
    padding: 10px;
  }
  .contactUsInfo {
    width: 100%;
    max-width: 90%;
  }
  .infoPhone {
    margin: 20px 0 20px;
  }
  .contactUsForm {
    margin: 25px 0 0 0;
    width: 100%;
    max-width: 70%;
  }
  .formBtn {
    width: 100%;
  }
  .aboutWrapper {
    margin: 50px 0 0 0;
    padding: 0 15px;
    width: 100%;
  }
  .aboutBody {
    flex-direction: column;
    width: 100%;
    display: flex;
  }
  .aboutBody:nth-child(2) {
    margin: 15px 0 0;
  }
  .aboutBodyText {
    text-align: center;
    width: 100%;
  }
  .aboutBodyImage {
    width: 100%;
  }
  .aboutFeatures {
    text-align: left;
  }
  .footerWrapper {
  }
  .footerSocial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerNav {
    margin: 40px 0 0 0;
    padding: 0;
    flex: 0 0 0;
    gap: 0;
  }
  .footerInner {
    flex-direction: column;
    align-items: center;
  }
  .footerLogoSection {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footerLogo {
    margin-bottom: 10px;
  }
  .footerCopyright {
    padding: 0;
  }
  .contactContainer {
    flex-direction: column;
  }
  .contactForm {
    margin: 35px 0 0 0;
  }
  .formButton {
    width: 100%;
    margin: 5px 0 0 0;
  }
  .footerSocialIcons {
  }
  .glide__slides {
    width: 100%;
    height: 250px;
    margin: 10px 0 15px 0;
  }
  .glide__slide {
    max-width: 100%;
    min-width: 200px;
  }
  .glideSlideImg {
    height: 100%;
  }
}
